<main>
    <div class="row ps-4"> 
        <p class="col-6">Yaroslav Kovtoniuk</p>
        <p class="col-6 text-end">Resume project</p>
    </div>
    <div class="text-bg-secondary my-3 ps-4 py-3"> 
        <h1 >Summary project</h1>
    </div>
    <hr>

        <p>Опис проекту</p>
        <hr>

    <div class="row">
        <div class="my-2 col-4">
            <a href="/summary">
                <button class="btn btn-primary"> Summary </button>
            </a>
        </div>
        <div class="my-2 col-4">
            <a href="/skills">
                <button class="btn btn-primary"> Skills </button>
            </a>
        </div>
        <div class="my-2 col-4">
            <a href="/education">
                <button class="btn btn-primary"> Education </button>
            </a>
        </div>
        <div class="my-2 col-4 col-4">
            <a href="/work">
                <button class="btn btn-primary"> Work </button>
            </a>
        </div>
        <div class="my-2 col-4">
            <a href="/person">
                <button class="btn btn-primary"> Person </button>
            </a>
        </div>
        <div class="my-2 col-4">
            <a href="/bio">
                <button class="btn btn-primary"> Biography </button>
            </a>
        </div>
        <div class="my-2 col-4">
            <a href="/car">
                <button class="btn btn-primary"> About car </button>
            </a>
        </div>
        <div class="my-2 col-4">
            <a href="/programs">
                <button class="btn btn-primary"> About program </button>
            </a>
        </div>
            <div class="my-2 col-4">
                <a href="/js">
                <button class="btn btn-primary"> About js </button>
                </a>
            </div>
        <div class="my-2 col-4">
            <a href="/web">
            <button class="btn btn-primary"> About web </button>
            </a>
        </div>

        <div class="my-2 col-4">
            <a href="/task-21">
            <button class="btn btn-primary"> Typography </button>
            </a>
        </div>

        <div class="my-2 col-4">
            <a href="/task22">
            <button class="btn btn-primary"> Start upp </button>
            </a>
        </div>

        <div class="my-2 col-4">
            <a href="/task31">
            <button class="btn btn-primary"> Tourism </button>
            </a>
        </div>
    </div>
    {{!-- -------------------------------------------------- --}}


    <div class="text-bg-secondary my-3 ps-4 py-3">
            <h1>Shop project</h1>
    </div>
    <hr>
    <p>Опис проекту</p>
    <hr>
    <div class="row">    
        
        <div class="my-2 col-4">
            <a href="/shophome">
                <button class="btn btn-primary"> Shophome </button>
            </a>
        </div>
        <div class="my-2 col-4">
            <a href="/shopnews">
                <button class="btn btn-primary"> Shopnews </button>
            </a>
        </div>

        <div class="my-2 col-4">
            <a href="/shopproduct">
                <button class="btn btn-primary"> Shopproduct </button>
            </a>
        </div>

        <div class="my-2 col-4">
            <a href="/shopcart">
                <button class="btn btn-primary"> Shopcart </button>
            </a>
        </div>

        <div class="my-2 col-4">
        <a href="/shoporder">
            <button class="btn btn-primary"> Shoporder </button>
        </a>
        </div>

        <div class="my-2 col-4">
            <a href="/shopcatalog">
                <button class="btn btn-primary"> Shopcatalog </button>
            </a>
        </div>

        <div class="my-2 col-4">
            <a href="/shopprofile">
                <button class="btn btn-primary"> Shopprofile </button>
            </a>
        </div>

        <div class="my-2 col-4">
            <a href="/shopreview">
                <button class="btn btn-primary"> Shopreview </button>
            </a>
        </div>

    </div>

</main>
