<nav>

      {{>link text="Home" href="/" line=true }}      
      {{>link text="Shophome" href="/shophome" line=true}}
      {{>link text="Catalog" href="/shopcatalog" line=true}}
      {{>link text="Product" href="/shopproduct" line=true}}
      {{>link text="News" href="/shopnews" line=true}}
      {{>link text="Order" href="/shoporder" line=true}}
      {{>link text="Cart" href="/shopcart" line=true}}
      {{>link text="Profile" href="/shopprofile" line=true}}
      {{>link text="Review" href="/shopreview" line=true noLine=true}} 
             
</nav>